body {
  margin: 0;
  padding: 0;
  font-family: "NOTO SANS KR", sans-serif;
}

header {}

#chatBody {
  background-color: #f2f2f2;

  .BotChatBox {
    display: flex;
    padding: 12px 0;

    .profile {
      margin-right: 12px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .chat {
      display: inline-flex;
      flex-direction: column;
      margin-top: 24px;
      padding: 15px 25px;
      background-color: #fff;

      $border-radius: 15px;
      border-radius: 0 $border-radius $border-radius $border-radius;

      span {
        word-break: keep-all;
      }

      .chatSetis {
        line-height: 100%;
        text-align: right;

        a {
          font-size: 0.8em;
          color: #000;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: #888;
          }
        }
      }
    }
  }

  .userChatBox {
    display: flex;
    flex-direction: row-reverse;
    padding: 12px 0;

    .chat {
      display: inline-block;
      padding: 15px 25px;
      background-color: #F6D046;

      $border-radius: 15px;
      border-radius: $border-radius 0 $border-radius $border-radius;

      span {
        word-break: keep-all;
      }
    }
  }
}

#chat {
  .rollUp {
    display: flex;
    flex-direction: column;

    .rollUpNav {
      width: 100%;
      height: 15px;
      border-radius: 12px 12px 0 0;
      box-shadow: 0 0 6px 0 #000;
    }

    .navItems {
      background-color: #fff;
    }
  }


  form {
    display: flex;
    background-color: #fff;
  }

  .chatContent {
    display: inline-block;
    margin: 0 12px;
    width: 100%;
    outline: none;
    border: solid 1px #ddd;
    border-radius: 25px;
    padding: 12px 24px;
  }

  .button {
      display: inline-block;
      margin: 0;
      padding: 12px;
      border: none;
      background-color: #f6d046;
      border-radius: 50%;
      outline: none;

      span {
        font-size: 1.1em;
        color: #fff;
      }
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
